<div class="row">
  {{#link-to "member.show" member}}
  <div class="col-md-4">
    <img class="photo" src="assets/images/{{member.profileImage}}" />
  </div>
  {{/link-to}} {{#link-to "member.show" member}}
  <div class="col-md-6 details">
    <div class="name">
      {{member.firstName}} {{member.lastName}}
    </div>
    <div class="role">
      {{member.role}}
    </div>
  </div>
  {{/link-to}}
  <div class="col-md-2">
    <span class="delete" {{action "showConfirmationMessage" member}}>&times;</span>
  </div>
</div>