<div class="row">
  <div class="col-md-4">
    <img class="photo" src="assets/images/{{member.profileImage}}" />
  </div>
  <div class="col-md-4 details">
    <div class="name">
      {{member.firstName}} {{member.lastName}}
    </div>
    <div class="role">
      {{member.role}}
    </div>
  </div>
</div>
{{yield}}