<div class="first-name">First Name: {{model.firstName}}</div>
<div class="last-name">Last Name: {{model.lastName}}</div>
<h2>Experience</h2>
<ul class="experiences">
  {{#each model.experiences as |item|}}
  <li class="experience">
    <div class="details">Details: {{item.details}}</div>
  </li>
  {{else}}
  <li>No Experiences</li>
  {{/each}}
</ul>
<h2>Education</h2>
<ul class="educations">
  {{#each model.educations as |item|}}
  <li class="education">
    <div class="title">Title: {{item.title}}</div>
    <div class="start">Start: {{moment-format item.start 'YYYY' 'YYYY-MM-DD'}}</div>
    <div class="stop">Stop: {{moment-format item.stop 'YYYY' 'YYYY-MM-DD'}}</div>
  </li>
  {{else}}
  <li>No Education</li>
  {{/each}}
</ul>

{{#link-to "member.edit" model class="btn btn-primary"}}Edit{{/link-to}}