<div class="row">
  <div class="col-md-4 column">
    <div>
      <img class="photo" src="/assets/images/{{model.profileImage}}" />
    </div>
    <h3 class="name">
      {{model.firstName}} {{model.lastName}}

    </h3>
    <div class="role">
      <span>{{model.role}}</span>
    </div>
  </div>
  <div class="col-md-8 column">
    <div class="bio">
      {{model.bio}}
    </div>
    <div class="flex-row">
      <div class="column skills">
        <h4>Skills</h4>
        <ul>
          {{#each model.skills as |skill|}}
          <li>{{skill}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="column technologies">
        <h4>Technologies</h4>
        <ul>
          {{#each model.technologies as |technology|}}
          <li>{{technology}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>